<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<style>
    body > section {width:800px; margin:30px auto }
    span.badge.new:after{content:'';}
</style>
<head>
</head>
<body>
<header class="Header"
        th:replace="~{fragments/header :: head}"></header>
<section>
    <div id="autos" class="col s12">
        <h1 th:text="${order.number}">Назначить фуру на заказ</h1>
        <table class="striped">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Номер</th>
                <th>Часы</th>
                <th>Статус</th>
                <th>Город</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="driver: ${driverList}">
                <td th:text="${driver.firstName}">Имя</td>
                <td th:text="${driver.lastName}">Фамилия</td>
                <td th:text="${driver.number}">Номер</td>
                <td th:text="${driver.hours}">Часы</td>
                <td th:text="${driver.status}">Статус</td>
                <td th:text="${driver.city}">Город</td>
                <td>
                    <a th:href="@{/crm/orders/setdriver/{orderid}/{driverid}(orderid=${order.id}, driverid=${driver.id})}" class="red-text">Назначить</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<script>
    M.AutoInit();
</script>
</body>
</html>