<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>
<header th:fragment="head">
    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/crm/trucks/">Фуры</a></li>
                <li><a href="/crm/drivers/">Водители</a></li>
                <li><a href="/crm/orders/">Заказы и грузы</a></li>

            </ul>
        </div>
    </nav>
</header>
</body>
</html>